.campaign-volunteers-section {
    .card {
        font-size: 14px;
        border: 0;
        border-radius: 0;
        border-top: 3px solid theme-color(primary);
        border-bottom: 3px solid theme-color(primary);
        -webkit-box-shadow: 10px 10px 54px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 10px 10px 54px 0px rgba(0,0,0,0.1);
        box-shadow: 10px 10px 54px 0px rgba(0,0,0,0.12);

        .footer {
            background-color: rgba(theme-color("primary"), .25);
        }

        .progress {
            background-color: white;
            height: 0.6rem;
        }
    }
}

.campaign-donations {
    .amount {
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        font-size: 20px;
    }

    .title {
        color: #323232;
        font-size: 1rem;

        .date {
            font-size: 0.87rem;
            color: #727272;
        }
    }

    .message {
        color: #323232;
        font-size: 0.87rem;
        font-style: italic;
        max-width: 470px;
        width: 100%;
    }
}

.donation-sum {
    border: 0;
    border-radius: 0;
    border-top: 3px solid theme-color(primary);
    border-bottom: 3px solid theme-color(primary);
    -webkit-box-shadow: 10px 10px 54px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 54px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 54px 0px rgba(0,0,0,0.12);
    top: 80px;

    .footer {
        background-color: rgba(theme-color("primary"), .2);
    }
}

.card .ambassador-profile-img-sm {
    width: 156px;
    height: 156px;
    object-fit: cover;
    padding: 0;
    margin-top: -126px;
}
