@import "_variables";
@import "_layout";

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

h1 { font-size: 4rem; }
